/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-asphalt-darkest: #161D29;
  --basic-asphalt-max: #212A3A;
  --basic-asphalt-mid: #293449;
  --basic-asphalt-light: #32425C;
  --basic-grey-dark: #A9A9A9;
  --basic-grey: #888888;
  --basic-grey-light: #C5C5C5;
  --basic-grey-lighter: #E5E5E5;
  --basic-background: #F1F5F7;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-green-light: #8ED78F;
  --special-yellow-light: #FFD180;
  --special-success: #5FBB2D;
  --special-confirm: #518534;
  --special-warning: #FFBF47;
  --special-red-hover: #CA2C37;
  --special-red-active: #BA2732;
  --special-box-shadow: #367315;
  --special-asphalt-light: rgba(50,66,92,0.5);
  --special-catalog-background: #F7F3EC;
  --special-half-opacity: rgba(255,255,255,0.5);
  --special-third-opacity: rgba(0,0,0,0.3);

  --special-third-link-background: rgba(255,255,255, 0.3);
  --special-third-hover-background: rgba(197,197,197, 0.3);
  --special-third-active-background: rgba(169,169,169, 0.3);
}

/* Global */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--basic-white);
}

.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after { box-sizing: border-box; }

/* GRID */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* HEADER */

.main-header {
  margin: 0;
  background-color: var(--basic-background);
  margin-bottom: 60px;
}

.header-top {
  background-color: var(--basic-asphalt-mid);
  height: 42px;
}

.header-top-content {
  display: flex;
}

.main-header-logo {
  /*position: relative;*/
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-image {
  margin-top: 12px;
}

.header-top-content .search {
  background-color: var(--basic-asphalt-mid);
  width: 270px;
  height: 42px;
  border: 0;
  font-size: 18px;
  line-height: 24px;
}

.header-top-content .search:hover {
}

.header-top-content .search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  /*outline:none;*/
}

.header-top-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 42px;

  list-style: none;
}

.header-top-item {
  width: 150px;
  text-align: center;
  background-color: var(--basic-asphalt-mid);
}

.header-top-item a {
  font-size: 18px;
  line-height: 42px;
  color: var(--basic-white);

  padding: 8px 8px;
}

.header-top-links .header-link-bookmarks:hover,
.header-top-links .header-link-cart:hover {

}

.header-top-links .header-link-bookmarks:active {
  background-color: var(--basic-asphalt-darkest);
}

.header-top-links .header-link-bookmarks:active,
.header-top-links .header-link-cart:active {
  opacity: 0.3;
}

.header-top-links .header-link-order {
  background-color: var(--basic-green);
}

.header-top-links .header-link-order:hover {
  background-color: var(--special-success);
}

.header-top-links .header-link-order:active {
  color: var(--special-half-opacity);
}

.header-bottom {
  padding-bottom: 60px;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-about {
  margin-left: 30px;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  color: var(--basic-red);
  max-height: 71px;
}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.phone-number {
  width: 100%;
  height: 45px;
  border: 3px solid var(--basic-white);
  padding-top: 5px;
  padding-bottom: 11px;
  padding-left: 70px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
}

.header-contacts .address {
  padding-top: 3px;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header-login {
  display: flex;
  height: 45px;
  flex-wrap: nowrap;
}

.header-login a {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
}

.login-link {
  width: 121px;
  margin-right: 5px;
  padding-left: 48px;
  padding-right: 27px;
  background-color: var(--basic-white);
}

.registration-link {
  width: 150px;
  margin-left: 5px;
  text-align: center;
  background-color: var(--basic-white);
}

.header-login a:hover {
  color: var(--basic-red);
}

.header-login a:active {
  color: var(--basic-grey-light);
}

.header-logged .user-name {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.header-logged .user-name:hover {

}

.header-logged .user-name:active {
  color: var(--basic-grey-light);
}

.header-logged .user-personal-area {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
}

.header-logged .user-personal-area:hover{
  color: var(--basic-red);
}

.header-logged .user-personal-area:active {
  color: var(--basic-grey-light);
}

.main-navigation {
  background-color: var(--basic-asphalt-light);
  padding: 0 27px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 60px;
  padding: 18px 0;

  list-style: none;
}

.site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding: 18px 26px;
}

.site-navigation-item a:hover,
.site-navigation-item a:active {
  background-color: var(--basic-asphalt-mid);
}

.site-navigation-item a:active {
  opacity: 0.5;
}

/* MAIN */

.catalog-page {
  font-family: "PT Sans", Arial, sans-serif;
}

h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.offers {
  margin: 0;
  min-height: 409px;
  margin-bottom: 60px;
}

.offers-grid {
  display: grid;
  grid-template-areas:
    "item-1 item-2 item-3"
    "slide slide item-4"
    "slide slide item-5";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows:
    123px
    123px
    123px;
  grid-gap: 20px;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-item {
  margin: 0;
  width: 300px;
  height: 123px;
}

.offer-yellow {
  background-color: var(--special-yellow);
  grid-area: item-1;
}

.offer-blue {
  background-color: var(--special-blue);
  grid-area: item-2;
}

.offer-lilac {
  background-color: var(--special-lilac);
  grid-area: item-3;
}

.offer-greenlight {
  background-color: var(--special-green-light);
  grid-area: item-4;
}

.offer-yellowlight {
  background-color: var(--special-yellow-light);
  grid-area: item-5;
}

.offers-item .offer-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--special-third-link-background);     /* Уточнить насчет цвета */
}

.offers-item .offer-link:hover {
  background-color: var(--special-third-hover-background);     /* Уточнить насчет цвета */
}

.offers-item .offer-link:active {
  background-color: var(--special-third-active-background);     /* Уточнить насчет цвета */
}

.offers-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-slide {
  grid-area: slide;
}

.offers-slider .slide {
  position: relative;
}

.black-substrate {
  position: absolute;
  top: 0;
  left: 0;
}

.offers-slide span {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.offers-slide p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.red-button {
  display: inline-block;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  width: 192px;
  height: 38px;
}

.red-button:hover {
  background-color: var(--special-red-hover);
}

.red-button:active {
  background-color: var(--special-red-active);
}

.section-head {
  background-color: var(--basic-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
}

.product-list,
.manufacturers-list {
  margin: 20px 0 60px;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item {
  width: 220px;
  min-height: 318px;
  text-align: center;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-name {
  margin: 0 30px;
}

.catalog-item span,
.catalog-item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item span {
  color: var(--basic-grey-dark);
  text-decoration-line: line-through;
}

.catalog-item p {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.manufacturers-list {
  flex-wrap: wrap;
}

.manufacturer-item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: var(--basic-background);
}

.services-head {
  margin-top: 60px;
  margin-bottom: 0px;
  display: inline-block;
}

.services-columns {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 240px 1fr;
}

.services-buttons {
  display: grid;
  grid-template-rows: 61px 61px 61px;
}

.services p,
.about p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  padding-left: 22px;
  color: var(--basic-white);
  background-color: var(--basic-asphalt-light);
  border: 0;
}

.service-button:hover {
  background-color: var(--basic-asphalt-mid);
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  position: relative;
  height: 260px;
  padding-left: 80px;
}

.services-item-head {
  margin-top: 0;
}

.service-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.about-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  grid-gap: 180px;
  margin-bottom: 70px;
}

.about-head {
  margin-top: 60px;
  margin-bottom: 0px;
  display: inline-block;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.catalog-section-background {
  background-color: var(--special-catalog-background);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.catalog-section-head {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
}

.filter-button {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-grey-lighter);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-method {
  color: var(--special-third-opacity);
}

.sorting-method:hover {
  color: var(--basic-black);
}

.catalog-list,
.pagination {
  list-style: none;
}

.buy-button,
.bookmark-button {
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  font-family: 'Cuprum', Arial, sans-serif;
  border-radius: 2px;
}

.buy-button {
  background: var(--basic-green);
  color: var(--basic-white);
  border: none;
  box-shadow: inset 0px -3px 0px var(--special-box-shadow);
}

.bookmark-button {
  background: var(--basic-white);
  color: var(--basic-asphalt-light);
  border: 3px solid var(--basic-green);
}

.buy-button:hover {
  background: var(--special-success);
}

.bookmark-button:hover {
  border: 3px solid var(--basic-asphalt-light);
}

.buy-button:focus {
  background: var(--special-confirm);
  outline: none;
}

.bookmark-button:focus {
  border: 3px solid var(--special-asphalt-light);
  color: var(--special-asphalt-light);
  outline: none;
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background: var(--basic-white);
  border: 1px solid var(--basic-grey-lighter);
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-last {
  width: 140px;
}

.pagination-active {
  background: var(--basic-red);
}

.pagination-item:hover {
  border: 1px solid var(--basic-grey-light);
}

.pagination-item:focus {
  border: 1px solid var(--basic-red);
  outline: none;
}

.calalog-description p {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* FOOTER */

.top-footer {
  background-color: var(--basic-asphalt-light);
  color: var(--basic-white);
  min-height: 193px;
  font-size: 18px;
  line-height: 24px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 325px 1fr;
  grid-template-rows:
    68px
    1fr;
  grid-column-gap: 70px;
  grid-row-gap: 22px;
}

.main-footer-logo {
  /*position: relative;*/
  grid-column: 1 / 2;
  background-color: var(--basic-red);
  width: 220px;
  height: 68px;
  text-align: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 22px;
}

.main-footer-image {
  margin-top: 20px;
}

.top-footer-address {
  grid-column: 1 / 2;
}

.top-footer p {
  margin: 0;
  padding: 0;
}

.footer-top-nav-list {
  align-self: start;
  margin-top: 37px;
  padding: 0;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.footer-bottom-nav-list {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  margin-top: 5px;
  padding-left: 23px;
}

.footer-top-nav-list,
.footer-bottom-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-nav-list a {
  color: var(--basic-white);
}

.footer-bottom-nav-list a {
  color: var(--special-yellow-light);
}

.bottom-footer {
  background-color: var(--basic-asphalt-mid);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.bottom-footer-grid {
  display: grid;
  grid-template-columns: 230px 1fr 190px 100px;
}

.bottom-footer .mailto,
.bottom-footer .site {
  display: inline-block;
  width: 150px;
}

.bottom-footer a {
  color: var(--special-yellow-light);
}

.footer-top-nav-list a:hover,
.footer-bottom-nav-list a:hover,
.bottom-footer a:hover {
  text-decoration-line: underline;
}

.footer-top-nav-list a:active,
.footer-bottom-nav-list a:active {
  opacity: 0.5:
}

.bottom-footer a:active {
  color: var(--basic-red);
}
